<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details</title>
    <script src="/js/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/portal.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel='stylesheet' href='https://maxst.icons8.com/vue-static/landings/line-awesome/font-awesome-line-awesome/css/all.min.css'>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <% if(typeof(establishment) != "undefined") { %>

    <header class="app-header">	   	            
        <div class="app-header-inner">  
            <div class="container-fluid pt-3 pb-0">
                <div class="app-header-content"> 
                    <div class="row justify-content-between align-items-center">
                    
                    <div class="col-auto">
                        <a id="sidepanel-toggler" class="sidepanel-toggler d-inline-block d-xl-none" href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" role="img"><title>Menu</title><path stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2" d="M4 7h22M4 15h22M4 23h22"></path></svg>
                        </a>
                    </div><!--//col-->
                
            
                    
                    <div class="app-utilities col-auto">
                        
                        <div class="app-utility-item  d-flex align-items-center">
                            <a class="navbar-brand my-auto" href="#"><div class="navbar-logo" ></div></a>
                        </div><!--//app-utility-item-->
                        
                    </div><!--//app-utilities-->
                </div><!--//row-->
                </div><!--//app-header-content-->
            </div><!--//container-fluid-->
        </div><!--//app-header-inner-->
        <div id="app-sidepanel" class="app-sidepanel"> 
            <div id="sidepanel-drop" class="sidepanel-drop "></div>
            <div class="sidepanel-inner d-flex flex-column">
                <a href="#" id="sidepanel-close" class="sidepanel-close d-xl-none">&times;</a>
                <div class="app-branding">
                    <a class="app-logo" href="#"></a>
                </div><!--//app-branding-->  
                
                <nav id="app-nav-main" class="app-nav app-nav-main flex-grow-1 ">
                    <ul class="app-menu list-unstyled accordion" id="menu-accordion">
                        <li class="nav-item">
                            <!--//Bootstrap Icons: https://icons.getbootstrap.com/ -->
                            <a class="nav-link " href="/establishment/dashboard">
                                <span class="nav-icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clipboard-data" viewBox="0 0 16 16">
                                        <path d="M4 11a1 1 0 1 1 2 0v1a1 1 0 1 1-2 0v-1zm6-4a1 1 0 1 1 2 0v5a1 1 0 1 1-2 0V7zM7 9a1 1 0 0 1 2 0v3a1 1 0 1 1-2 0V9z"/>
                                        <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"/>
                                        <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"/>
                                        </svg>
                                </span>
                                    <span class="nav-link-text ">Dashboard</span>
                            </a><!--//nav-link-->
                        </li><!--//nav-item-->
                    
                        <li class="nav-item has-submenu">
                            <!--//Bootstrap Icons: https://icons.getbootstrap.com/ -->
                            <a class="nav-link submenu-toggle" href="#" data-bs-toggle="collapse" data-bs-target="#submenu-1" aria-expanded="false" aria-controls="submenu-1">
                                <span class="nav-icon">
                                    <!--//Bootstrap Icons: https://icons.getbootstrap.com/ -->
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-shop-window" viewBox="0 0 16 16">
                                        <path d="M2.97 1.35A1 1 0 0 1 3.73 1h8.54a1 1 0 0 1 .76.35l2.609 3.044A1.5 1.5 0 0 1 16 5.37v.255a2.375 2.375 0 0 1-4.25 1.458A2.371 2.371 0 0 1 9.875 8 2.37 2.37 0 0 1 8 7.083 2.37 2.37 0 0 1 6.125 8a2.37 2.37 0 0 1-1.875-.917A2.375 2.375 0 0 1 0 5.625V5.37a1.5 1.5 0 0 1 .361-.976l2.61-3.045zm1.78 4.275a1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0 1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0 1.375 1.375 0 1 0 2.75 0V5.37a.5.5 0 0 0-.12-.325L12.27 2H3.73L1.12 5.045A.5.5 0 0 0 1 5.37v.255a1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0zM1.5 8.5A.5.5 0 0 1 2 9v6h12V9a.5.5 0 0 1 1 0v6h.5a.5.5 0 0 1 0 1H.5a.5.5 0 0 1 0-1H1V9a.5.5 0 0 1 .5-.5zm2 .5a.5.5 0 0 1 .5.5V13h8V9.5a.5.5 0 0 1 1 0V13a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V9.5a.5.5 0 0 1 .5-.5z"/>
                                    </svg>
                                    </span>
                                    <span class="nav-link-text">Log Visitors</span>
                                    <span class="submenu-arrow">
                                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-down" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                                    </svg>
                                    </span><!--//submenu-arrow-->
                            </a><!--//nav-link-->
                            <div id="submenu-1" class="collapse submenu submenu-1" data-bs-parent="#menu-accordion">
                                <ul class="submenu-list list-unstyled">
                                    <li class="submenu-item"><a class="submenu-link" href="/establishment/verify">Face Recognition</a></li>
                                    <li class="submenu-item"><a class="submenu-link" href="/establishment/qr">QR Scanner</a></li>
                                </ul>
                            </div>
                        </li><!--//nav-item-->
                    
                        
                        <li class="nav-item has-submenu ">
                            <!--//Bootstrap Icons: https://icons.getbootstrap.com/ -->
                            <a class="nav-link submenu-toggle active" href="#" data-bs-toggle="collapse" data-bs-target="#adminMenu" aria-expanded="false" aria-controls="adminMenu">
                                <span class="nav-icon">
                                    <!--//Bootstrap Icons: https://icons.getbootstrap.com/ -->
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-gear" viewBox="0 0 16 16">
                                        <path d="M8 4.754a3.246 3.246 0 1 0 0 6.492 3.246 3.246 0 0 0 0-6.492zM5.754 8a2.246 2.246 0 1 1 4.492 0 2.246 2.246 0 0 1-4.492 0z"/>
                                        <path d="M9.796 1.343c-.527-1.79-3.065-1.79-3.592 0l-.094.319a.873.873 0 0 1-1.255.52l-.292-.16c-1.64-.892-3.433.902-2.54 2.541l.159.292a.873.873 0 0 1-.52 1.255l-.319.094c-1.79.527-1.79 3.065 0 3.592l.319.094a.873.873 0 0 1 .52 1.255l-.16.292c-.892 1.64.901 3.434 2.541 2.54l.292-.159a.873.873 0 0 1 1.255.52l.094.319c.527 1.79 3.065 1.79 3.592 0l.094-.319a.873.873 0 0 1 1.255-.52l.292.16c1.64.893 3.434-.902 2.54-2.541l-.159-.292a.873.873 0 0 1 .52-1.255l.319-.094c1.79-.527 1.79-3.065 0-3.592l-.319-.094a.873.873 0 0 1-.52-1.255l.16-.292c.893-1.64-.902-3.433-2.541-2.54l-.292.159a.873.873 0 0 1-1.255-.52l-.094-.319zm-2.633.283c.246-.835 1.428-.835 1.674 0l.094.319a1.873 1.873 0 0 0 2.693 1.115l.291-.16c.764-.415 1.6.42 1.184 1.185l-.159.292a1.873 1.873 0 0 0 1.116 2.692l.318.094c.835.246.835 1.428 0 1.674l-.319.094a1.873 1.873 0 0 0-1.115 2.693l.16.291c.415.764-.42 1.6-1.185 1.184l-.291-.159a1.873 1.873 0 0 0-2.693 1.116l-.094.318c-.246.835-1.428.835-1.674 0l-.094-.319a1.873 1.873 0 0 0-2.692-1.115l-.292.16c-.764.415-1.6-.42-1.184-1.185l.159-.291A1.873 1.873 0 0 0 1.945 8.93l-.319-.094c-.835-.246-.835-1.428 0-1.674l.319-.094A1.873 1.873 0 0 0 3.06 4.377l-.16-.292c-.415-.764.42-1.6 1.185-1.184l.292.159a1.873 1.873 0 0 0 2.692-1.115l.094-.319z"/>
                                        </svg>
                                    </span>
                                    <span class="nav-link-text">Account</span>
                                    <span class="submenu-arrow">
                                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-down" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                                    </svg>
                                    </span><!--//submenu-arrow-->
                            </a><!--//nav-link-->
                            <div id="adminMenu" class="collapse submenu submenu-1" data-bs-parent="#menu-accordion">
                                <ul class="submenu-list list-unstyled">
                                    <li class="submenu-item "><a class="submenu-link active" href="/establishment/Details">Details</a></li>
                                    <li class="submenu-item"><a class="submenu-link" href="/establishment/logout">Log Out</a></li>
                            </ul>
                            </div>
                        </li><!--//nav-item-->
                        
                    </ul><!--//app-menu-->
    
                </nav><!--//app-nav-->
            
            </div><!--//sidepanel-inner-->
        </div><!--//app-sidepanel-->
    </header><!--//app-header-->
  

    <div class="profile col-10 col-md-8 col-xl-6 border p-4 mt-5 mx-auto">

            <div class="border-bottom py-2">
                <h5 class="m-0 p-0">Name</h5>
                <p class="m-0 pb-1"><%=establishment.name%></p>
            </div>
            <div class="border-bottom py-2">
                <h5 class="m-0 p-0">Owner</h5>
                <p class="m-0 pb-1"><%=establishment.owner%></p>
            </div>
            <div class="border-bottom py-2">
                <h5 class="m-0 p-0">Address</h5>
                <p class="m-0 pb-1"><%=establishment.address%></p>
            </div>
            <div class="border-bottom py-2">
                <h5 class="m-0 p-0">Email</h5>
                <p class="m-0 pb-1"><%=establishment.email%></p>
            </div>
            <div class="border-bottom py-2">
                <h5 class="m-0 p-0">Contact</h5>
                <p class="m-0 pb-1"><%=establishment.contact%></p>
            </div>
            <div class="border-bottom py-4">
                <div class="d-flex flex-row justify-content-between">
                    <h5 class="m-0 p-0">Limit establishment for vaccinated person only.</h5>
                    <% if(establishment.limitVaccinated) { %>
                        <input type="checkbox" id="limit" checked>
                    <% } else { %>
                        <input type="checkbox" id="limit">
                    <% } %>
                </div>
                
            </div>
            <div class="py-2">
                <div class="d-flex flex-row justify-content-between ">
                    <h5 class="m-0 p-0">Change Password</h5>
                    <input class="btn btn-outline-secondary btn-sm" type="button" id="change" value="Change">
                </div>
                <div id="oldPassword" class="row">
                    <label >Enter old password: </label>
                    <form  class="col-10">
                        <input  class="form-control" type="password" id="oldPass">
                        <p class="text-danger messageText" id="oldPassError"></p>
                    </form>
                    <div class="col-2 ">
                        <input class="btn btn-outline-secondary col-12" type="button" id="check" value="Submit">
                    </div>
                </div>
                <div id="newPassword" class="row">
                    <form class="col-6">
                        <label>Enter new password: </label>
                        <input class="form-control" type="password" id="newPass">
                    </form>
                    <form class="col-6">
                        <label>Confirm new password: </label>
                        <input class="form-control" type="password" id="confPass">
                        <p class="text-danger messageText" id="newPassError"></p>
                    </form>
                    
                    <div class="col-12 d-flex justify-content-end">
                        <input class="btn btn-outline-secondary col-2" type="button" id="confirm" value="Submit">
                    </div>
                </div>
            </div>
    </div>
   
    <% } %>
    <script  src="/js/sidepanel.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

    <script>
        const toggleStatus = async (status) => {
            const response = await fetch('/establishment/details/change/limitation', {
                method: "PUT",
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({status})
            })

            const result = await response.json();
            
            if(result.success) {
                console.log("success");
            }
        }

        $("#limit").change(function() {
            if(this.checked) {
                toggleStatus(true);
            } else {
                toggleStatus(false);
            }
        });

        $('#oldPassword').hide();
        $('#newPassword').hide();

        document.querySelector('#change').addEventListener('click', (e) => {
            $('#oldPassword').show();
        })

        document.querySelector('#check').addEventListener('click', async (e) => {
            let oldPass = $("#oldPass").val();
            if(oldPass) {
                const rawResponse = await fetch('/establishment/details/change/password/old', {
                    method: 'POST',
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({oldPass})
                });
                const content = await rawResponse.json();
                if(content.success) {
                    $('#newPassword').show();
                    $("#oldPassError").text("");
                } else {
                    $("#oldPassError").text("Wrong password.");
                }
            } else {
                $("#oldPassError").text("Enter password.");
            }
        })

        document.querySelector('#confirm').addEventListener('click', async (e) => {
            let newPass = $("#newPass").val();
            let confPass = $("#confPass").val();
            if(newPass!="" && confPass!="") {
                if(newPass == confPass) {
                    $('.errorMsg').remove();
                    let errors = [];
                    if (newPass.length < 8) {
                        errors.push("Your password must be at least 8 characters."); 
                    }
                    if (newPass.search(/[a-z]/i) < 0) {
                        errors.push("Your password must contain at least one letter.");
                    }
                    if (newPass.search(/[0-9]/) < 0) {
                        errors.push("Your password must contain at least one digit."); 
                    }

                    if(!errors.length) {
                        await fetch('/establishment/details/change/password/new', {
                            method: 'PUT',
                            headers: {
                                'Accept': 'application/json',
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify({newPass})
                        }).then((response)=> {
                            if(response.redirected) {
                                window.location.href = response.url;
                            }
                            alert("Password successfully changed.");
                        });
                    } else {
                        for(i in errors) {
                            $("#newPassError").append(`<p class="errorMsg text-danger messageText">${errors[i]}</p>`);
                        }
                    } 
                } else {
                    $("#newPassError").text("Password didn't match.");
                }
            } else {
                $("#newPassError").text("Fill up fields.");
            }
        })
    </script>
</body>
</html>