<%- include("./partials/header.ejs", {title:"Register"}) %>

<div class="register container-fluid d-flex flex-row align-items-center justify-content-center p-0">
    <div class="register-subcon col-xl-8 col-lg-10 col-md-11 col-10 row">
        <div id="r-form-parent"class="c-div col-lg-10 col-12 d-flex flex-column justify-content-center border p-lg-5 p-md-4 p-sm-5 p-4 mx-auto">
            <div id="r-form" class="col-12 px-0 ">
                <h1>Contact Information Gathering</h1>
            
        
                <form class="mt-5">
                    <div class="row">   
                        <div class="form-group col-5">
                            <label for="fname">First Name: </label>
                            <input class="form-control name" type="text" name="fname" placeholder="First Name" <% if(typeof(fname) != "undefined") { %> value="<%=fname%>" <% } %> required>
                        </div>
                        <div class="form-group col-2">
                            <label for="mi">M.I.: </label>
                            <input class="form-control name" type="text" name="mi" <% if(typeof(mi) != "undefined") { %> value="<%=mi%>" <% } %>>
                        </div>
                        <div class="form-group col-5"">
                            <label for="lname">Last Name: </label>
                            <input class="form-control name" type="text" name="lname" <% if(typeof(lname) != "undefined") { %> value="<%=lname%>" <% } %> required>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-6">
                            <label for="bdate">Birthdate</label>
                            <input class="form-control" id="datefield" type="date" name="bdate" max="" <% if(typeof(bdate) != "undefined") { %> value="<%=bdate%>" <% } %> required>
                        </div>
                        <div class="col-6">
                            <label class="col-12" for="contact">Contact No. (+63): </label>
                            <input class="form-control col-10" type="number" name="contact" maxlength="10" <% if(typeof(contact) != "undefined") { %> value="<%=contact%>" <% } %> oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" maxlength="9" required>
                            <p class="text-danger" id="contactError"></p>
                        </div>
                        
                    </div>
                    <div class="row mt-3 ">
                        <div class="col-6 ">
                            <label for="email">Email: </label>
                            <input class="form-control" id="email" type="email" name="email" <% if(typeof(email) != "undefined") { %> value="<%=email%>" <% } %> required>
                            <p class="text-danger" id="emailError"></p>
                        </div>
                        <div class="col-6">
                            <label for="code" class="col-12">Email verification code: </label>
                            <div class="col-12 d-flex flex-row">
                                <div class="col-8">
                                    <input class="form-control" type="number" name="code" id="code" required>
                                    <p id="codeError" class="text-danger"></p>
                                </div>
                                <div class="col-4 mx-end ps-2">
                                    <input type='button' id="getCode" class="btn form-control" value="Get Code"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-6">
                            <label for="region">Region: </label>
                            <select class="form-control" id="selectRegion">
                            </select>
                        </div>
                        <div  class="col-6">
                            <label for="province">Province: </label>
                            <select class="form-control" id="selectProvince">
                            </select>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-6">
                            <label for="city">City: </label>
                            <select class="form-control" id="selectCity">
                            </select>
                        </div>
                        <div class="col-6">
                            <label for="barangay">Barangay: </label>
                            <select class="form-control" id="selectBarangay">
                            </select>
                        </div>
                    </div>
                    

                    <div class="row mt-3">
                        <div class="col-6">
                            <label for="pass">Password</label>
                            <input class="form-control" id="pass" type="password" name="pass" minlength="8" required>
                        </div>
                        <div class="col-6">
                            <label for="cpass">Confirm Password</label>
                            <input class="form-control" id="cpass" type="password" name="cpass" minlength="8" required>
                        </div>
                        <div id="message" class="text-danger"></div>
                    </div>
                    
                    <button type="submit" class="btn col-12 reg-btn mt-5">Register</button>
                    <div class="d-flex justify-content center mt-3">
                        <a href="/visitor/login" class="mx-auto">Have account? Login.</a>
                        <div class="pb-5"></div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

<script src="https://f001.backblazeb2.com/file/buonzz-assets/jquery.ph-locations-v1.0.0.js"></script>

<script>
    let regionCode = 0 , provinceCode = 0, cityCode = 0;
    let provinces, cities, barangays;
    let selectedRegion, selectedProvince, selectedCity, selectedBarangay;

    fetch('/json/regions.json').then(response=>response.json()).then(data => getRegion(data))
    fetch('/json/provinces.json').then(response=>response.json()).then(data =>provinces = data)
    fetch('/json/city-mun.json').then(response=>response.json()).then(data =>cities = data)
    fetch('/json/barangays.json').then(response=>response.json()).then(data =>barangays = data)

    function  getRegion  (data) {
        var jsonList = {"Table" : data}
        $(document).ready(function(){
            var listItems= "";
            listItems += "<option >Select Region...</option>";
            for (var i = 0; i < jsonList.Table.length; i++){
                listItems+= "<option data-region='" + jsonList.Table[i].name + "' value='" + jsonList.Table[i].reg_code + "'>" + jsonList.Table[i].name + "</option>";
            }
                $("#selectRegion").html(listItems);
                $("#selectProvince").html("");
                $("#selectCity").html("");
                $("#selectBarangay").html("");
        });
    }

    $('#selectRegion').on('change', function (e) {
        var optionSelected = $("option:selected.code", this);
        regionCode = this.value;
        selectedRegion = $(this).find(':selected').data('region');

        var jsonList = {"Table" : provincefilteredItems(regionCode) }
        $(document).ready(function(){
            var listItems= "";
            listItems += "<option >Select Province...</option>";
            for (var i = 0; i < jsonList.Table.length; i++){
                listItems+= "<option data-province='" + jsonList.Table[i].name + "' value='" + jsonList.Table[i].prov_code + "'>" + jsonList.Table[i].name + "</option>";
            }
            $("#selectProvince").html(listItems);
            $("#selectCity").html("");
            $("#selectBarangay").html("");
        });  
    })

    $('#selectProvince').on('change', function (e) {
        var optionSelected = $("option:selected", this);
        provinceCode = this.value;
        selectedProvince = $(this).find(':selected').data('province');

        var jsonList = {"Table" : cityfilteredItems(provinceCode) }
        $(document).ready(function(){
        var listItems= "";
        listItems += "<option >Select City...</option>";
        for (var i = 0; i < jsonList.Table.length; i++){
            listItems+= "<option data-city='" + jsonList.Table[i].name + "' value='" + jsonList.Table[i].mun_code + "'>" + jsonList.Table[i].name + "</option>";
        }
            $("#selectCity").html(listItems);
            $("#selectBarangay").html("");
        });  
    })

    $('#selectCity').on('change', function (e) {
        var optionSelected = $("option:selected", this);
        cityCode = this.value;
        selectedCity = $(this).find(':selected').data('city');

        var jsonList = {"Table" : barangayfilteredItems(cityCode) }
        $(document).ready(function(){
        var listItems= "";
        listItems += "<option >Select Barangay...</option>";
        for (var i = 0; i < jsonList.Table.length; i++){
            listItems+= "<option data-barangay='" + jsonList.Table[i].name + "' value='" + jsonList.Table[i].name + "'>" + jsonList.Table[i].name + "</option>";
        }
            $("#selectBarangay").html(listItems);
        });  

    })

    $('#selectBarangay').on('change', function (e) {
        selectedBarangay = $(this).find(':selected').data('barangay');
    })
    
    function provincefilteredItems(regionCode){
        return provinces.filter(function(el) {return el.reg_code === regionCode;});
    }
    function cityfilteredItems(provinceCode){
        return cities.filter(function(el) {return el.prov_code === provinceCode;});
    }
    function barangayfilteredItems(cityCode){
        return barangays.filter(function(el) {return el.mun_code === cityCode;});
    }

    var emailVerify = 0;
    // var passIsSame = false;
    const form = document.querySelector('form');
    // Submit form
    form.addEventListener('submit', async (e) => {
        e.preventDefault();
        const fname = form.fname.value;
        const mi = form.mi.value;
        const lname = form.lname.value;
        const contact = form.contact.value;
        const bdate = form.bdate.value;
        const region = selectedRegion;
        const province = selectedProvince;
        const city = selectedCity;
        const barangay = selectedBarangay;
        const email = form.email.value;
        const pass = form.pass.value;
        const cpass = form.cpass.value;
        let code = form.code.value;
                
        if(pass == cpass) {
            $('.passError').remove();
            let errors = [];
            if (pass.length < 8) {
                errors.push("Your password must be at least 8 characters."); 
            }
            if (pass.search(/[a-z]/i) < 0) {
                errors.push("Your password must contain at least one letter.");
            }
            if (pass.search(/[0-9]/) < 0) {
                errors.push("Your password must contain at least one digit."); 
            }
            if(!errors.length) {
                if(emailVerify == code) {
                    try {
                        await fetch('/visitor/register', {
                            method: 'POST',
                            body: JSON.stringify({
                                fname, mi, lname, contact, bdate, region, province, city, barangay, email, pass
                            }),
                            headers: {'Content-Type': 'application/json'}
                        }).then((response)=> {
                            if(response.redirected) {
                                window.location.href = response.url;
                            }
                        });
                    } catch (error) {
                        console.log(error);
                    }
                } else {
                    $("#codeError").text("Wrong code.");
                }
            } else {
                for(i in errors) {
                    $("#message").append(`<p class="passError">${errors[i]}</p>`);
                }
            }
        } else {
            $("#message").append(`<p class="passError">Password didn't match.</p>`);
        }
    });
    // Validate email
    const validateEmail = (email) => {
        return email.match(
            /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
        );
    };
    // Get Verification Code from email
    document.querySelector('#getCode').addEventListener('click', (e) => {
        let email = $("#email").val();
        if (validateEmail(email)) {
            e.target.disabled = true;
            fetch("/visitor/register/code/" + email)
                .then((response) => {
                    response.json().then((data) => {
                        if(data.emailError) {
                            e.target.disabled = false;
                            $("#emailError").text("Email already exists.");
                        } else {
                            emailVerify = data;
                            // Remove after testing
                            console.log(emailVerify);
                            $("#codeError").text("");
                            setTimeout(function(){
                                e.target.disabled = false
                            }, 60*1000);
                        }
                    });
                });
        } else {
            $("#emailError").text("Input correct email.");
        }
    })
    // // Script for matching password
    // $('#pass, #cpass').on('keyup', function () {
    //     if ($('#pass').val() == $('#cpass').val()) {
    //         passIsSame = true;
    //         $('#message').html('Matching').css('color', 'green');
    //     } else {
    //         passIsSame = false;
    //         $('#message').html('Not Matching').css('color', 'red');
    //     }
    // });
    // Script for max bdate 
    var today = new Date();
    var dd = today.getDate();
    var mm = today.getMonth() + 1;
    var yyyy = today.getFullYear();
    if (dd < 10)
        dd = '0' + dd;
    if (mm < 10)
        mm = '0' + mm;
    today = yyyy + '-' + mm + '-' + dd;
    document.getElementById("datefield").setAttribute("max", today);
</script>

<%- include("./partials/footer.ejs") %>