<%- include("./partials/header.ejs", {title:"Register"}) %>

<div class="register container-fluid d-flex flex-row align-items-center justify-content-center p-0">
    <div class="register-subcon col-xl-8 col-lg-10 col-md-11 col-10 row">
        <div id="r-form-parent"class="c-div col-lg-10 col-12 d-flex flex-column justify-content-center border p-lg-5 p-md-4 p-sm-5 p-4 mx-auto">
            <div id="r-form" class="col-12 px-0 ">
                <h1>Contact Information Gathering</h1>
            
        
                <form class="mt-5">
                    <div class="row">   
                        <div class="form-group col-5">
                            <label for="fname">First Name: </label>
                            <input class="form-control name" type="text" name="fname" placeholder="First Name" <% if(typeof(fname) != "undefined") { %> value="<%=fname%>" <% } %> required>
                        </div>
                        <div class="form-group col-2">
                            <label for="mi">M.I.: </label>
                            <input class="form-control name" type="text" name="mi" <% if(typeof(mi) != "undefined") { %> value="<%=mi%>" <% } %>>
                        </div>
                        <div class="form-group col-5"">
                            <label for="lname">Last Name: </label>
                            <input class="form-control name" type="text" name="lname" <% if(typeof(lname) != "undefined") { %> value="<%=lname%>" <% } %> required>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-6">
                            <label for="bdate">Birthdate</label>
                            <input class="form-control" id="datefield" type="date" name="bdate" max="" <% if(typeof(bdate) != "undefined") { %> value="<%=bdate%>" <% } %> required>
                        </div>
                        <div class="col-6">
                            <label class="col-12" for="contact">Contact No.: </label>
                            <input class="form-control col-10" type="number" name="contact" maxlength="10" <% if(typeof(contact) != "undefined") { %> value="<%=contact%>" <% } %> oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" maxlength="9" required>
                            
                            <% if(typeof(contactError) != "undefined") {%>
                                <p class="text-danger">
                                    <%=contactError%>
                                </p>
                            <% } %>
                        </div>
                        
                    </div>
                    <div class="row mt-3 ">
                        <div class="col-6 ">
                            <label for="email">Email: </label>
                            <input class="form-control" id="email" type="email" name="email" <% if(typeof(email) != "undefined") { %> value="<%=email%>" <% } %> required>
                            <% if(typeof(emailError) != "undefined") {%>
                            <p class="text-danger">
                                <%=emailError%>
                            </p>
                            <% } %>
                            <p id="emailError" class="text-danger"> </p>
                        </div>
                        <div class="col-6">
                            <label for="code" class="col-12">Email verification code: </label>
                            <div class="col-12 d-flex flex-row">
                                <div class="col-8">
                                    <input class="form-control" type="number" name="code" id="code" required>
                                    <p id="codeError" class="text-danger"></p>
                                </div>
                                <div class="col-4 mx-end ps-2">
                                    <input type='button' id="getCode" class="btn form-control" value="Get Code"/>
                                </div>
                            </div>
                            
                        </div>

                        
                    </div>

                    
                    <div class="row">
                        <div class="col-6">
                            <label for="region">Region: </label>
                            <input class="form-control" type="text" name="region" required>
                        </div>
                        <div  class="col-6">
                            <label for="province">Province: </label>
                            <input class="form-control" type="text" name="province" required>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-6">
                            <label for="city">City: </label>
                            <input class="form-control" type="text" name="city" required>
                        </div>
                        <div class="col-6">
                            <label for="barangay">Barangay: </label>
                            <input class="form-control" type="text" name="barangay" required>
                        </div>
                    </div>
                    

                    <div class="row mt-3">
                        <div class="col-6">
                            <label for="pass">Password</label>
                            <input class="form-control" id="pass" type="password" name="pass" minlength="6" required>
                        </div>
                        <div class="col-6">
                            <label for="cpass">Confirm Password</label>
                            <input class="form-control" id="cpass" type="password" name="cpass" required>
                            <p id="message" class="text-danger"></p>
                        </div>
                    </div>
                    
                    <button type="submit" class="btn col-12 reg-btn mt-5">Register</button>
                    <div class="d-flex justify-content center mt-3">
                        <a href="/visitor/login" class="mx-auto">Have account? Login.</a>
                        <div class="pb-5"></div>
                    </div>
                </form>
            </div>

        </div>
    </div>
    
</div>

<script>
    var emailVerify = 0;
    var passIsSame = false;

    const form = document.querySelector('form');

    // Submit form
    form.addEventListener('submit', async (e) => {
        e.preventDefault();
        const fname = form.fname.value;
        const mi = form.mi.value;
        const lname = form.lname.value;
        const contact = form.contact.value;
        const bdate = form.bdate.value;
        const region = form.region.value
        const province = form.province.value;
        const city = form.city.value;
        const barangay = form.barangay.value;
        const email = form.email.value;
        const pass = form.pass.value;
        const cpass = form.cpass.value;

        let code = form.code.value;

        if(passIsSame) {
            if(emailVerify == code) {
                try {
                    await fetch('/visitor/register', {
                        method: 'POST',
                        body: JSON.stringify({
                            fname, mi, lname, contact, bdate, region, province, city, barangay, email, pass
                        }),
                        headers: {'Content-Type': 'application/json'}
                    }).then((response)=> {
                        console.log(response);
                        if(response.redirected) {
                            window.location.href = response.url;
                        }
                    });
                } catch (error) {
                    console.log(error);
                }
            } else {
                $("#codeError").text("Wrong code.");
            }
        } 
    });

    // Validate email
    const validateEmail = (email) => {
        return email.match(
            /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
        );
    };

    // Get Verification Code from email
    document.querySelector('#getCode').addEventListener('click', (e) => {
        let email = $("#email").val();
        if (validateEmail(email)) {
            e.target.disabled = true;
            fetch("/visitor/register/code/" + email)
                .then((response) => {
                    response.json().then((data) => {
                        emailVerify = data;
                        // Remove after testing
                        console.log(emailVerify);
                        $("#codeError").text("");
                        setTimeout(function(){
                            e.target.disabled = false
                        }, 60*1000);
                    });
                });
        } else {
            $("#emailError").text("Input correct email.");
        }
    })

    // Script for matching password
    $('#pass, #cpass').on('keyup', function () {
        if ($('#pass').val() == $('#cpass').val()) {
            passIsSame = true;
            $('#message').html('Matching').css('color', 'green');
        } else {
            passIsSame = false;
            $('#message').html('Not Matching').css('color', 'red');
        }
    });

    // Script for max bdate 
    var today = new Date();
    var dd = today.getDate();
    var mm = today.getMonth() + 1;
    var yyyy = today.getFullYear();

    if (dd < 10)
        dd = '0' + dd;

    if (mm < 10)
        mm = '0' + mm;

    today = yyyy + '-' + mm + '-' + dd;
    document.getElementById("datefield").setAttribute("max", today);
</script>

<%- include("./partials/footer.ejs") %>