<%- include("./partials/header.ejs", {title:"Register"}) %>

<div class="register container-fluid d-flex flex-row align-items-center justify-content-center p-0">
    <div class="register-subcon col-xl-8 col-lg-10 col-md-11 col-10 row">
        <div class="c-div col-lg-8 col-12 d-flex flex-column justify-content-center border p-lg-5 p-md-4 p-sm-5 p-4 mx-auto">
            <h1>Contact Information Gathering</h1>
            <a href="/visitor/login">Have account? Login.</a>
        
            <form action="/visitor/register" method="POST">
                <div class="row">   
                    <div class="form-group col-5">
                        <label for="fname">First Name: </label>
                        <input class="form-control" type="text" name="fname" placeholder="First Name" <% if(typeof(fname) != "undefined") { %> value="<%=fname%>" <% } %> required>
                    </div>
                    <div class="form-group col-2">
                        <label for="mi">Middle Initial: </label>
                        <input class="form-control" type="text" name="mi" <% if(typeof(mi) != "undefined") { %> value="<%=mi%>" <% } %>>
                    </div>
                    <div class="form-group col-5"">
                        <label for="lname">Last Name: </label>
                        <input class="form-control" type="text" name="lname" <% if(typeof(lname) != "undefined") { %> value="<%=lname%>" <% } %> required>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-6">
                        <label for="email">Email: </label>
                        <input class="form-control" type="email" name="email" <% if(typeof(email) != "undefined") { %> value="<%=email%>" <% } %> required>
                        <% if(typeof(emailError) != "undefined") {%>
                            <p class="text-danger">
                                <%=emailError%>
                            </p>
                        <% } %>
                    </div>
                    <div class="col-6 row">
                        <label class="col-12" for="contact">Contact No.: </label>
                        <input class="form-control col-10" type="number" name="contact" maxlength="10" <% if(typeof(contact) != "undefined") { %> value="<%=contact%>" <% } %> oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" maxlength="9" required>
                        <% if(typeof(contactError) != "undefined") {%>
                            <p class="text-danger">
                                <%=contactError%>
                            </p>
                        <% } %>
                    </div>
                    
                </div>
                <div>
                    <label for="bdate">Birthdate</label>
                    <input class="form-control" id="datefield" type="date" name="bdate" max="" <% if(typeof(bdate) != "undefined") { %> value="<%=bdate%>" <% } %> required>
                </div>
                
                <div>
                    <label for="region">Region: </label>
                    <input type="text" name="region" required>
                </div>
                <div>
                    <label for="province">Province: </label>
                    <input type="text" name="province" required>
                </div>
                <div>
                    <label for="city">City: </label>
                    <input type="text" name="city" required>
                </div>
                <div>
                    <label for="barangay">Barangay: </label>
                    <input type="text" name="barangay" required>
                </div>

                <!--  -->
                <div>
                    <label for="pass">Password</label>
                    <input id="pass" type="password" name="pass" minlength="6" required>
                </div>
                <div>
                    <label for="cpass">Confirm Password</label>
                    <input id="cpass" type="password" name="cpass" required>
                    <span id="message"></span>
                </div>
                <button type="submit">Register</button>
            </form>

        </div>
    </div>
    
</div>

<script>
    // Script for matching password
    // Change error message here
    $('#pass, #cpass').on('keyup', function () {
        if ($('#pass').val() == $('#cpass').val()) {
            $('#message').html('Matching').css('color', 'green');
        } else
            $('#message').html('Not Matching').css('color', 'red');
    });

    // Script for max bdate 
    var today = new Date();
    var dd = today.getDate();
    var mm = today.getMonth() + 1;
    var yyyy = today.getFullYear();

    if (dd < 10)
        dd = '0' + dd;

    if (mm < 10)
        mm = '0' + mm;

    today = yyyy + '-' + mm + '-' + dd;
    document.getElementById("datefield").setAttribute("max", today);
</script>

<%- include("./partials/footer.ejs") %>