<%- include("../partials/header.ejs", {title:"Establishments Request"}) %>

    <% if(typeof(admin) != "undefined") { %>
        <%- include("../partials/navbar.ejs"); %>

        <div>
            <table>
                <thead>
                    <td>Name</td>
                    <td>Owner</td>
                    <td>Address</td>
                    <td>Email</td>
                    <td>Contact</td>
                    <td>Message</td>
                    <td>Permit</td>
                    <td>Valid ID</td>
                    <td>Actions</td>
                </thead>
                <% for(var i=0; i < requests.length; i++) { %>
                <tr>
                    <td><%= requests[i].name %></td>
                    <td><%= requests[i].owner %></td>
                    <td><%= requests[i].address %></td>
                    <td><%= requests[i].email %></td>
                    <td><%= requests[i].contact %></td>
                    <td><%= requests[i].message %></td>
                    <td><img src="/uploads/permit/<%=requests[i].permit%>" alt="permit" style="height: 100px; width:100px"></td>
                    <td><img src="/uploads/validID/<%=requests[i].validID%>" alt="validID" style="height: 100px; width:100px"></td>
                    <td>
                        <form action="/admin/establishments/requests/<%=requests[i]._id%>" method="POST">
                            <input type="radio" name="status" value="approve">
                            <label for="approve">Approve</label>
                            <input type="radio" name="status" value="reject">
                            <label for="reject">Reject</label>
                            <button type="submit">Submit</button>
                        </form>
                    </td>
                </tr>
                <% } %>
            </table>
        </div>
    <% } %>

<%- include("../partials/footer.ejs"); %>