<%- include("./partials/header.ejs", {title:"Dashboard"}) %>

    <% if(typeof(admin) != "undefined") { %>
        <%- include("./partials/navbar.ejs"); %>

        <div>
            <p>NO OF REGISTERED CLIENTS</p>
            <P><%=visitorsCount%></P>
            <p><a href="/admin/visitors/list">SHOW LIST</a></p>
        </div>

        <div>
            <p>NO OF REGISTERED ESTABLISHMENTS</p>
            <P><%=establishmentsCount%></P>
            <p><a href="/admin/establishments/list">SHOW LIST</a></p>
        </div>

        <div>
            <p>NO OF TAGGED AS POSITIVE LAST 14 DAYS</p>
            <P>00</P>
            <p><a href="#">SHOW LIST</a></p>
        </div>
    <% } %>
    
<%- include("./partials/footer.ejs"); %>