<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
</head>
<body>
    <% if(typeof(admin) != "undefined") { %>
    <ul>
        <li><a href="/admin/logout">Logout</a></li>
        <li><a href="#">Create New Admin</a></li>
        <li><a href="/admin/requests">Establishment Account Requests</a></li>
        <li><a href="#">Monitor Record</a></li>
    </ul>

    <h1>
        Total records collected: <%=recordsCount %>
    </h1>
    <table>
        <thead>
            <td>Name</td>
            <td>Establishment</td>
            <td>Address</td>
            <td>Date & Time</td>
        </thead>
        <% for(var i=0; i < logs.length; i++) { %>
        <tr>
            <td><%= logs[i].name %></td>
            <td><%= logs[i].establishment %></td>
            <td><%= logs[i].address %></td>
            <td><%= logs[i].date %></td>
        </tr>
        <% } %>
    </table>
    <% } %>
</body>
</html>