<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Establishment Requests</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>
    <table>
        <thead>
            <td>Name</td>
            <td>Owner</td>
            <td>Address</td>
            <td>Email</td>
            <td>Contact</td>
            <td>Message</td>
            <td>Permit</td>
            <td>Valid ID</td>
            <td>Actions</td>
        </thead>
        <% for(var i=0; i < requests.length; i++) { %>
        <tr>
            <td><%= requests[i].name %></td>
            <td><%= requests[i].owner %></td>
            <td><%= requests[i].address %></td>
            <td><%= requests[i].email %></td>
            <td><%= requests[i].contact %></td>
            <td><%= requests[i].message %></td>
            <td><img src="/uploads/permit/<%=requests[i].permit%>" alt="permit" style="height: 100px; width:100px"></td>
            <td><img src="/uploads/validID/<%=requests[i].validID%>" alt="validID" style="height: 100px; width:100px"></td>
            <td>
                <form action="/admin/requests/<%=requests[i]._id%>" method="POST">
                    <input type="radio" name="status" value="approve">
                    <label for="approve">Approve</label>
                    <input type="radio" name="status" value="reject">
                    <label for="reject">Reject</label>
                    <button type="submit">Submit</button>
                </form>
            </td>
        </tr>
        <% } %>
    </table>

    <script>
        function approve(request) {
            alert( "Approve ", request);
        }
        // Approve
        // $(".approve").click(function(request) {
        //     alert( "Approve." );
        // });

        // Reject
        $(".reject").click(function() {
            alert( "Reject." );
        });
    </script>
</body>
</html>